<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
	</configSections>
	<log4net debug="false">
		<!--type：表示用哪种类型记录日志，log4net.Appender.ADONetAppender表示用数据库记录日志。-->
		<appender name="ADONetAppender" type="log4net.Appender.ADONetAppender">

			<!--日志缓存写入条数，设置为0时只要有一条就立刻写到数据库。-->
			<bufferSize value="0" />

			<!--数据库连接串-->
			<!--C:\WINDOWS\Microsoft.NET\Framework\v4.0.30319\Config\machine.config-->
			<connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />

			<!--数据库连接字符串-->
			<connectionString value="Server=10.22.21.216;Database=Test;Uid=sa;Pwd=Boe123;" />

			<!--数据库脚本-->
			<commandText value="INSERT INTO LogDetail (LogDate,LogLevel,LogThread,Logger,LogMessage) VALUES (@LogDate,@LogLevel,@LogThread,@Logger,@LogMessage)" />

			<!--日志时间-->
			<parameter>
				<parameterName value="@LogDate" />
				<dbType value="DateTime" />
				<layout type="log4net.Layout.RawTimeStampLayout" />
			</parameter>

			<!--日志级别-->
			<parameter>
				<parameterName value="@LogLevel" />
				<dbType value="String" />
				<size value="10" />
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%p" />
				</layout>
			</parameter>

			<!--线程ID-->
			<parameter>
				<parameterName value="@LogThread" />
				<dbType value="String" />
				<size value="10" />
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%t" />
				</layout>
			</parameter>

			<!--日志名称-->
			<parameter>
				<parameterName value="@Logger" />
				<dbType value="String" />
				<size value="50" />
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%logger" />
				</layout>
			</parameter>

			<!--日志内容-->
			<parameter>
				<parameterName value="@LogMessage" />
				<dbType value="String" />
				<size value="3000" />
				<!-- 日志内容的取值来源于一个自定义的Layout类CustomLayout-->
				<layout type="Log4NetToDBTest.Utility.CustomLayout">
					<conversionPattern value="%property{LogMessage}" />
				</layout>
			</parameter>
		</appender>

		<root>
			<priority value="ALL" />
			<level value="ALL" />
			<appender-ref ref="ADONetAppender" />
		</root>
	</log4net>
</configuration>